extends ../layout.pug

block header
  header
    section.card
      figure 
        // images here
        img(src="./images/image-equilibrium.jpg" alt="poster")
        .view 
          include ../../../dist/images/icon-view.svg
      article
        h1 Equilibrium #3429
        p Our Equilibrium collection promotes balance and calm.
        aside
          div.price
            include ../../../dist/images/icon-ethereum.svg
            p 0.041 ETH
          div.duration
            include ../../../dist/images/icon-clock.svg
            p 3 days left
        .line 
        section.profile
          div
            img(src="./images/image-avatar.png" alt="profile" draggable="false")
          p Creation of 
            span Jules Wyvern
block footer
  include ../components/footer.pug